body{
    background: #ebdfff;
}
.box{
    width: 40px;
    height: 40px;
    background: #110606;
    animation: left 5ms timing-function 4ms iteration-count direction fill-mode;
}
.box:hover{
  left: 40px;
}